/* explore page styles */
/* main branch commit */
/* main branch commit */
/* main branch commit */
/* main branch commit */
/* main branch commit */
/* main branch commit */
/* main branch commit */
/* main branch commit */

* {
  animation: fadein 1s ease;
}

.introduction,
.customer-feedbacks,
.product-catelog {
  transition: all 1s ease;
}
.introduction {
  padding: 1rem;
  display: flex;
  width: 100%;
  position: relative;
  background-image: linear-gradient(45deg, #f0f4ffd9 50%, #f7f7f772 65%),
    url("../assets/svg/web.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
  background-position: left bottom, right bottom;

  border-radius: 1rem;
}

.introduction-text {
  z-index: 2;
  padding: 1rem 2rem 1rem 2rem;
  flex-basis: 60%;
}
.product-catelog {
  padding: 1rem;
  display: flex;
  overflow: auto;
}

body::-webkit-scrollbar {
  height: 0rem;
  width: 0.5rem;
}
.product-catelog::-webkit-scrollbar {
  height: 0.5rem;
  width: 0;
}
.product-catelog::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #e3e8f7;
  border-radius: 1rem;
  margin-inline: 0.5rem 0.5rem;
}

.product-catelog::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #355dc9;
  border-radius: 1rem;
}

.product-catelog-card {
  padding: 1rem;
  display: flex;
  border-radius: 1rem;
  align-items: center;
  background-image: linear-gradient(45deg, #f0f4ff 35%, #f7f7f7 65%);
  margin: 1rem 0rem 0rem 1rem;
}

.product-catelog-card > a {
  text-decoration: none;
}

.customer-feedbacks {
  display: flex;
  overflow: hidden;
}

.customer-feedbacks .customer-feedback {
  background-image: linear-gradient(45deg, #f0f4ff 35%, #f7f7f7 65%);
  padding: 2.5%;
  margin: 2.5%;
  color: #3e3e3e;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-basis: 95%;
  flex-grow: 0;
  flex-shrink: 0;
  transition: opacity 1s ease-in-out;
}

.customer-feedback-text {
  font-size: 1.1rem;
  font-style: italic;
}
.customer-feedback-customer-name {
  font-size: 0.25rem;
  margin: 0;
}

.customer-feedback-customer-designation {
  font-size: 0.7rem;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
